body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* Nav ---------------------------------------- */

.navbar {
  background-color: #087F8C;
  border-bottom: 1px solid #dee2e6;
}

.navbar-brand {
  font-size: 1.75rem;
  transition: color 0.3s ease;
}

.navbar-brand:hover {
  text-decoration: underline;
}

.nav-link, .register-link {
  font-weight: 600;
  color: white !important;
}

.nav-link:hover, .register-link:hover {
  text-decoration: underline;
}

.btn-outline-none, .login-link {
  margin-left: 1rem;
  font-weight: 600;
  border-radius: 50px;
  padding: 0.5rem 1.5rem !important;
  background-color: #095256;
  color: white;
}

.btn-outline-none:hover, .login-link:hover {
  background-color: #5aaa95;
  color: white;
  text-decoration: underline;
}

@media (max-width: 991px) {
  .navbar-toggler {
    color: white;
    background-color: white;
  }
  
  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  .nav-link, .btn-outline-none, .register-link, .login-link {
    margin-left: 0;
    margin-top: 0.5rem;
  }
}

/* Register/Login ------------------ */

.register-form, .login-form {
  padding: 2rem;
  margin-bottom: 3rem;
  max-width: 500px;
}      

.register-form h2, .login-form h2 {
  font-weight: 700;
  margin-bottom: 1rem;
  color: #095256;
}

.register-button, .login-button {
  background-color: #095256;
  color: white;
  border: none;
  font-weight: 400;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  width: 100%;

}

.register-button:hover, .login-button:hover {
  background-color: #5aaa95 !important;
}

/* Search ---------------------------------------- */

.search-input {
  padding: 10px 15px;
  border-radius: 25px;
  border: 1.5px solid #ccc;
  font-size: 1rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.search-input::placeholder {
  color: #999;
  font-style: italic;
}

.search-input:focus {
  border-color: #087F8C; 
  box-shadow: 0 0 8px rgb(9, 82, 86, 0.5);
}

/* Product card (Homepage) ---------------------------------------- */

.card {
  border: none;
  transition: transform 0.2s ease;
}
.card:hover {
  transform: scale(1.01);
}

.carousel img {
  object-fit: cover;
  height: 200px;
}

.card-clickable {
  cursor: pointer;
  height: 350px;
  display: flex;
  flex-direction: column;
}

.card-clickable .card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.text-truncate-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-title {
  font-size: 1.5rem;
  color: #095256;
}

.card-price {
  font-size: 1.25rem;
  color: #095256;
}

/* Single product page ------------------------- */

.carousel-item .venue-page-carousel{
  width: 100%;
  height: 400px;
}

.venue-page h2 {
  font-weight: 700;
  margin-bottom: 1rem;
  color: #087F8C;
}

.venue-page p {
  font-size: 1rem;
}

.venue-page h4 {
  font-weight: 600;
  margin-bottom: 1rem;
  color: #095256;
}

.venue-page-rating {
  font-size: 1.5rem;
  color: #095256;
}

.react-datepicker__header {
  background-color: #ededed;
}

.react-datepicker__month-container {
  background-color: white;
}

.booking-section h5 {
  color: #095256;
  font-size: 1.5rem;
}

.booking-section h2 {
  color: black;
  font-weight: 400;
}

.booking-section .book-now-button {
  font-weight: 600;
  color: black;
  font-size: 1rem;
  background-color: #5aaa95;
  border: none;
  border-radius: 50px;
  text-transform: uppercase;
}

.booking-section .book-now-button:hover {
  background-color: #095256;
  color: white;
}

.booked-day {
  background-color: #f8d7da !important;
  color: #721c24 !important;
  pointer-events: none;
  text-decoration: line-through;
}

/* Profile ---------------------------------- */

.profile-name{
  font-weight: 600;
  color: #095256;
}

.save-picture {
  background-color: #095256;
  border: none;
  padding: 8px 25px;
}

.save-picture:hover {
  background-color: #5aaa95 !important;
  color: white;
}

.profile-tabs .nav-link.active {
  background-color: #095256;
  color: white !important;
  font-weight: 400;
}

.profile-tabs .nav-link {
  color: #095256 !important;
  background-color: white;
  font-weight: 400;
}

.create-venue-button, .update-venue-button {
  background-color: #5aaa95;
  color: white;
  border: none;
  font-weight: 400;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.create-venue-button:hover, .update-venue-button:hover {
  background-color: #5aaa95 !important;
  color: white;
  text-decoration: underline;
}

/* Create/Update page ----------------- */

.create-venue-form h2, .update-venue h2 {
  font-weight: 700;
  margin-bottom: 1rem;
  color: #095256;
}

/* Footer ---------------------------------- */

.footer-logo, .footer-contact {
  color: #095256;
  padding: 1rem 0;
  font-size: 1rem;
}